name: tinhte_demo
description: Tinh táº¿ mobile apps built with Flutter for evaluation purposes.
version: 1.6.7+26

environment:
  flutter: 1.17.3
  sdk: ">=2.3.0 <3.0.0"

dependencies:
  apple_sign_in: ^0.1.0
  convert: ^2.1.1
  crypto: any
  flutter:
    sdk: flutter
  firebase_messaging: ^5.1.8
  firebase_crashlytics: ^0.1.1+2
  flutter_auth_buttons: ^0.8.0
  flutter_cache_manager: any
  flutter_facebook_login: ^3.0.0
  flutter_widget_from_html:
    path: ./packages/flutter_widget_from_html
  font_awesome_flutter: ^8.8.1
  google_sign_in: ^4.0.11
  html_unescape: ^1.0.1+3
  http: any
  image_picker: ^0.6.7+2
  intl: ^0.16.0
  package_info: ^0.4.1
  photo_view: ^0.9.2
  provider: ^3.1.0+1
  share: ^0.6.4+3
  shared_preferences: ^0.5.7+3
  scroll_to_index: ^1.0.3
  timeago: ^2.0.26
  tinhte_api:
    path: ./packages/api

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  assets:
    - assets/
  uses-material-design: true
