name: the_app
description: Tinh táº¿ mobile apps built with Flutter for evaluation purposes.
version: 1.6.7+26

environment:
  sdk: ">=2.3.0 <3.0.0"

dependencies:
  apple_sign_in: ^0.1.0
  convert: ^2.1.1
  crypto: any
  flutter:
    sdk: flutter
  firebase_messaging: ^6.0.16
  firebase_crashlytics: ^0.1.3+3
  flutter_auth_buttons: ^0.8.0
  flutter_cache_manager: any
  flutter_custom_tabs: ^0.6.0
  flutter_facebook_login: ^3.0.0
  flutter_localizations:
    sdk: flutter
  flutter_speed_dial: 1.2.5
  flutter_widget_from_html:
    path: ./packages/flutter_widget_from_html
  font_awesome_flutter: ^8.8.1
  google_sign_in: ^4.5.1
  html_unescape: ^1.0.1+3
  http: any
  image_picker: ^0.6.7+2
  intl: ^0.16.0
  intl_translation: any
  package_info: ^0.4.1
  photo_view: ^0.9.2
  provider: ^4.1.3
  share: ^0.6.4+3
  shared_preferences: ^0.5.7+3
  scroll_to_index: ^1.0.3
  the_api:
    path: ./packages/api
  timeago: ^2.0.26

dev_dependencies:
  flutter_test:
    sdk: flutter

dependency_overrides:
  flutter_svg: ^0.18.0

flutter:
  assets:
    - assets/
  uses-material-design: true
